.Homepage {
  width: 100%;

  .Presentation {
    position: relative;
    width: 100%;
    min-height: 980px;
    background-color: aliceblue;
    background-image: url("/bg_homepage.jpg");
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    @include flex(flex, center, center, row, wrap, 20px, 40px);
    align-content: center;
    box-shadow: inset 2px 10px 10px 0 rgba(0 0 0 / 5%);
    padding: 80px 20px 0px 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #16273ab8, #23363870);
      z-index: 1;
    }

    .TitlePresent {
      color: white;
      // text-shadow: 0 0 20px #ffffff5a;

      .titles {
        // text-shadow: 0 0 20px #0a89ce3f;
        @include TextGradient($rotate: 100, $colors_one: #0a55ce, $color_two: #0aaace);

        animation: bouger 1s infinite;

        @keyframes bouger {
          from {
            background-size: 100%;
          }

          50% {
            background-size: 150%;
          }

          to {
            background-size: 100%;
          }
        }
      }
    }

    .logo-personnal {
      user-select: none;
      border-radius: 50%;
      z-index: 2;
      object-fit: cover;
      object-position: top;
      width: 170px;
      height: 170px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
      transition: transform 300ms ease, box-shadow 300ms ease;

      &:hover {
        transform: scale(1.05) rotate(-5deg) translateX(-15px);
        box-shadow: 2px 2px 5px 0 rgba(0 0 0 / 20%);
      }
    }

    .boxPresent {
      z-index: 3;
      @include flex(flex, flex-start, flex-start, column, wrap, 0, 10px);

      .pDesc {
        // font-style: italic;
        font-size: 18px;
        // word-spacing: 3px;
        // line-height: 18px;
        max-width: 700px;
        color: #d6dfee;
      }

      .buttonsPresent {
        @include flex(flex, space-between, center, row, wrap, 10px, 20px);
      }
    }
  }

  .Services {
    position: relative;
    width: 100%;
    padding: 50px 0;
    min-height: 600px;

    .topServices {
      @include flex(flex, center, center, column, nowrap, 0, 10px);

      .titleService {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
      }

      .ServiceDesc {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        color: #a3a3a3;

        @include text_line($orientation: center,
          $color: #2980b9,
          $width: 10%,
          $height: 4px,
          $bottom: -20px);
      }
    }
  }

  .Competences {
    position: relative;
    width: 100%;
    padding: 50px;
    min-height: 600px;

    @include flex(flex, center, center, column, nowrap, 0, 10px);

    .titleComp {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
    }

    .compDesc {
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      color: #a3a3a3;

      @include text_line(
        $orientation: center,
        $color: #2980b9,
        $width: 10%,
        $height: 4px,
        $bottom: -20px
      );
    }

    .comp_ctn {
      margin-top: 20px;
      padding-top: 50px;
      height: 500px;
      @include flex(flex, center, center, row, nowrap, 10px, 20px);

      .comp_left {

      }

      .HorizontalSeparator {
        border: none;
        width: 3px;
        height: 100%;
        flex: 1;
        background-color: red;
      }

      .comp_right {

      }
    }
  }

  .Tarifs {
    position: relative;
    width: 100%;
    padding: 50px;
    min-height: 1000px;

    @include flex(flex, center, center, column, nowrap, 0, 10px);

    .titleTarifs {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
    }

    .TarifsDesc {
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      color: #a3a3a3;

      @include text_line(
        $orientation: center,
        $color: #2980b9,
        $width: 10%,
        $height: 4px,
        $bottom: -20px
      );
    }
  }
}