.Homepage {
  width: 100%;

  .Presentation {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 300px);
    background: #293643;
    @include flex(flex, center, center, column, wrap, 20px, 40px);
    align-content: center;
    padding: 40px 20px;

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(0deg, transparent, 30%, #293643);
      z-index: 1;
    }

    .illustration {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 500px;
      opacity: .1;

      @include for-size(phone-only) {
        display: none;
      }
    }

    .TitlePresent {
      color: white;
      font-size: min(max(20px, 6vw), 40px);

      .titles {
        color: #1fadfd;
        // text-shadow: 0 0 30px #04a7ff26;
        // @include TextGradient($rotate: 100, $colors_one: #0a55ce, $color_two: #0aaace);
      }
    }

    .logo-personnal {
      user-select: none;
      border-radius: 50%;
      z-index: 2;
      object-fit: cover;
      object-position: top;
      width: 200px;
      height: 200px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    }

    .boxPresent {
      z-index: 3;
      @include flex(flex, flex-start, flex-start, column, wrap, 0, 20px);

      .pDesc {
        @include fontResponsive(10px, 3vw, 17px);
        max-width: 700px;
        width: 100%;
        font-weight: 500;
        color: #e7e8eb;
      }

      .buttonsPresent {
        @include flex(flex, space-between, center, row, wrap, 10px, 20px);
      }
    }
  }

  .Services {
    position: relative;
    width: 100%;
    padding: 50px 20px;
    min-height: 600px;

    .topServices {
      @include flex(flex, center, center, column, nowrap, 0, 10px);

      .titleService {
        text-align: center;
        @include fontResponsive($min: 20px, $viewwidth: 6vw, $default: 40px);
        font-weight: 700;
      }

      .ServiceDesc {
        text-align: center;
        @include fontResponsive($min: 14px, $viewwidth: 5vw, $default: 25px);
        font-weight: 500;
        color: #a3a3a3;

        @include text_line($orientation: center,
          $color: #2980b9,
          $width: 10%,
          $height: 4px,
          $bottom: -20px);
      }
    }
  }

  .Competences {
    position: relative;
    width: 100%;
    padding: 50px;
    min-height: 1000px;

    @include flex(flex, center, center, column, nowrap, 0, 10px);

    .titleComp {
      text-align: center;
      @include fontResponsive($min: 20px, $viewwidth: 6vw, $default: 40px);
      font-weight: 700;
    }

    .compDesc {
      text-align: center;
      @include fontResponsive($min: 14px, $viewwidth: 5vw, $default: 20px);
      font-weight: 500;
      color: #a3a3a3;

      @include text_line(
        $orientation: center,
        $color: #2980b9,
        $width: 10%,
        $height: 4px,
        $bottom: -20px
      );
    }

    .comp_ctn {
      margin-top: 20px;
      padding-top: 50px;
      width: 100%;
      @include flex(flex, center, center, row, wrap, 10px, 20px);

      @include for-size(desktop-up) {
        flex-direction: column;
        row-gap: 100px;
      }

      .comp_left {
        flex: 1;
        padding: 0 20px;
        max-width: 600px;

        @include for-size(desktop-up) {
          max-width: 100%;
          width: 100%;
        }

        .compTitle {
          @include fontResponsive(13px, 4vw, 25px);
        }
      }
    }
  }

  .Tarifs {
    position: relative;
    width: 100%;
    padding: 50px 20px;
    min-height: 1000px;

    @include flex(flex, center, center, column, nowrap, 0, 10px);

    .titleTarifs {
      text-align: center;
      @include fontResponsive($min: 20px, $viewwidth: 6vw, $default: 40px);
      font-weight: 700;
    }
    
    .TarifsDesc {
      text-align: center;
      @include fontResponsive($min: 14px, $viewwidth: 5vw, $default: 20px);
      font-weight: 500;
      color: #a3a3a3;
      margin-bottom: 100px;

      @include text_line(
        $orientation: center,
        $color: #2980b9,
        $width: 10%,
        $height: 4px,
        $bottom: -20px
      );
    }
  }
}