.NotFound {
  margin-top: 100px;
  height: 100%;
  width: 100%;
  @include flex(flex, center, center, column, nowrap, 0, 10px);

  .align {
    text-align: center;
  }

  .image404 {
    width: 100%;
    height: 100%;
    max-width: 500px;
    user-select: none;
    object-fit: contain;
  }
}