/// @param {justify-content} $contents
/// @param {align-items} $items
/// @param {flex-direction} $direction 
/// @param {flex-wrap} $wrap
/// @param {number} $gap-x
/// @param {number} $gap-y
@mixin flex(
  $display: flex,
  $contents: null,
  $items: null,
  $direction: null,
  $wrap: null,
  $gap-x: 0,
  $gap-y: 0
) {
  display: $display;

  @if ($contents !=null) {
    justify-content: $contents;
  }

  @if ($items !=null) {
    align-items: $items;
  }

  @if ($direction !=null) {
    flex-direction: $direction;
  }

  @if ($wrap !=null) {
    flex-wrap: $wrap;
  }

  row-gap: $gap-y;
  column-gap: $gap-x;
}