.InputWithLabel {
  position: relative;
  width: 100%;

  .input {
    appearance: none;
    -webkit-appearance: none;
    user-select: none;
    width: 100%;
    font-weight: 500;
    height: 40px;
    font-size: 15px;
    text-indent: 10px;
    background: var(--page-bg);
    color: var(--color-text-base);
    outline: none;
    box-shadow: 0 0 0 1px var(--input-border-color);
    border: none;
    border-radius: 10px;
    text-overflow: ellipsis;
    transition: box-shadow 100ms ease-in-out;

    &::placeholder {
      color: var(--input-placeholder-color);
      font-weight: 500;
    }

    &:focus {
      box-shadow: 0 0 0 1px #2980b9;

      &::placeholder {
        color: var(--input-placeholder-color-focused);
      }
    }
    
    &:focus + label {
      color: #2980b9;
    }

    // Style for autocomplete background
    &:-webkit-autofill, &:-webkit-autofill:focus {
      transition: none;
      -webkit-box-shadow: 0 0 0 2px var(--input-border-color), 0 0 0 30px var(--page-bg) inset !important;

      &:is(:focus) {
        -webkit-box-shadow: 0 0 0 2px #2980b9, 0 0 0 30px var(--page-bg) inset !important;
      }
    }
  }

  .label {
    position: absolute;
    font-weight: 600;
    display: block;
    user-select: none;
    top: 0;
    cursor: pointer;
    left: 10px;
    transform: translateY(-50%);
    padding: 0 10px;
    color: var(--color-text-base);
    background-color: var(--page-bg);
    font-size: 15px;
    transition: color 100ms ease-in-out;
    will-change: color;
  }
}

.TextAreaWithLabel {
  position: relative;
  width: 100%;

  .area {
    appearance: none;
    -webkit-appearance: none;
    font-family: inherit;
    font-weight: 500;
    user-select: none;
    width: 100%;
    height: auto;
    resize: none;
    font-size: 15px;
    padding: 20px;
    outline: none;
    color: var(--color-text-base);
    background: var(--page-bg);
    box-shadow: 0 0 0 1px var(--input-border-color);
    border: none;
    border-radius: 10px;
    text-overflow: ellipsis;
    transition: box-shadow 100ms ease-in-out;
    // @include scrollbar($display: false);

    &::placeholder {
      color: var(--input-placeholder-color);
      font-weight: 500;
    }

    &:focus {
      box-shadow: 0 0 0 1px #2980b9;

      &::placeholder {
        color: var(--input-placeholder-color-focused);
      }
    }
    
    &:focus + label {
      color: #2980b9;
    }
  }

  .label {
    position: absolute;
    font-weight: 600;
    font-family: inherit;
    display: block;
    user-select: none;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0 10px;
    color: var(--color-text-base);
    background-color: var(--page-bg);
    font-size: 15px;
    transition: color 100ms ease-in-out;
    will-change: color;
  }
}