.ProjectCardContainer {
  @include flex(flex, center, center, row, wrap, 40px, 40px);
}

.ProjectCardLink {
  display: block;
  text-decoration: none;

  .ProjectCard {
    position: relative;
    width: 100%;
    max-width: 450px;
    cursor: pointer;
    @include flex(flex, center, center, column, nowrap, 0, 0);
    user-select: none;
  
    &:hover {
      .ProjectContainer {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
      }

      .miniaContainer {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);

        .minia {
          transform: scale(1.05);
          filter: brightness(110%);
        }
      }
    }
    
    .miniaContainer {
      position: relative;
      overflow: hidden;
      width: 100%;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
      transition: box-shadow 200ms ease;

      .minia {
        width: 100%;
        object-fit: cover;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
        transition: transform 200ms ease, filter 200ms ease;
      }
    }
  
    .ProjectContainer {
      width: 100%;
      height: 200px;
      padding: 20px;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
      background: var(--card-project-bg);
      transition: box-shadow 200ms ease;
      @include flex(flex, center, flex-start, column, nowrap, 0, 20px);
      
      .pTitle {
        font-weight: 800;
        @include fontResponsive($min: 15px, $viewwidth: 6vw, $default: 25px);
      }
  
      .pCat {
        font-weight: 500;
        @include fontResponsive($min: 10px, $viewwidth: 5vw, $default: 18px);
        color: #a3a3a3;
      }
  
      .pDate {
        width: 100%;
        font-size: 15px;
        @include fontResponsive($min: 8px, $viewwidth: 5vw, $default: 15px);
        text-align: end;
        font-weight: 600;
        color: var(--color-text-base);
      }
  
      .tags {
        @include flex(flex, center, flex-start, row, wrap, 10px, 10px);
  
        .tag {
          min-height: 20px;
          @include fontResponsive($min: 8px, $viewwidth: 5vw, $default: 13px);
          color: white;
          user-select: none;
          padding: 5px 7px;
          border-radius: 10px;
          background-color: #4589d7;
          transition: background-color 200ms ease, transform 200ms ease;
  
          &:hover {
            background-color: #3574bc;
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}

.ProjectInfoContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  @include flex(flex, space-between, center, row, nowrap);

  .ProjectClose {
    position: relative;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: var(--page-info-bg);

    @include for-size(desktop-up) {
      width: 0%;
    }
  }

  /* Project info card */
  .ProjectInfo {
    position: relative;
    background-color: var(--page-bg);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  
    @include for-size(desktop-up) {
      width: 100%;
    }
  
    .topline {
      @include flex(flex, space-between, center, row, wrap, 20px, 20px);
      padding: 30px 20px;
      background-color: var(--page-bg);
      border-bottom: var(--separator) 2px solid;
      z-index: 20;
  
      .projectName {
        font-weight: 700;

        @include fontResponsive($min: 20px, $viewwidth: 7vw, $default: 26px);
        text-transform: uppercase;
        color: var(--color-text-base);
      }

      .no-wrap {
        @include for-size(mobile-m) {
          width: fit-content;
        }
      }
    }

    .assets {
      @include flex(flex, space-between, center, row, wrap, 10px, 20px);
      padding: 0 30px;
      margin-top: 40px;

      .projectAssets {
        font-size: 22px;
        @include fontResponsive($min: 17px, $viewwidth: 3vw, $default: 22px);
        font-weight: bold;
        text-transform: uppercase;
        color: var(--color-text-base);
      }

      .download {

      }
    }
  
    .gallery {
      position: relative;
      @include flex(inline-flex, center, center, row, nowrap, 20px, 20px);
      justify-content: flex-start;
      width: 100%;
      height: 300px;
      padding: 30px 50px;
      overflow-x: auto;
      overflow-y: hidden;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      @include for-size(tablet-portrait-up) {
        height: 200px;
      }
  
      .image {
        min-width: max-content;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        user-select: none;
        margin-left: auto;
      }
  
      .video {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        user-select: none;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        margin-left: auto;

        &.grab {
          pointer-events: none;
        }
      }
    }

    .InfosContainer {
      position: relative;
      @include flex(flex, space-between, center, row, wrap, 0, 40px);
      width: 100%;
      margin: 0 auto;
      height: 40vh;
      padding: 30px;
      z-index: 17;

      @include for-size(tablet-portrait-up) {
        flex-direction: column-reverse;
        height: auto;
      }

      .iTitle {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--color-text-base);

        &.right {
          display: block;
          margin-bottom: 10px;
        }
      }

      .leftInfos {
        width: 50%;
        height: 100%;
        padding: 0 20px;

        @include for-size(tablet-portrait-up) {
          width: 100%;
        }

        .iDesc {
          color: #797979;
          margin-top: 10px;
          font-size: 14px;
          @include fontResponsive($min: 12px, $viewwidth: 2vw, $default: 14px);
          font-weight: 500;
          line-height: 22px;

          ul {
            list-style: disc;
            margin-top: 5px;
            
            li {
              padding: 2px;
            }
          }
        }
      }

      .rightInfos {
        width: 50%;
        height: 100%;
        padding: 0 20px;

        @include for-size(tablet-portrait-up) {
          width: 100%;
        }

        .iList {
          @include flex(flex, flex-start, flex-start, column, nowrap, 0, 10px);
          margin-top: 10px;
          
          .iItem {
            @include flex(flex, flex-start, flex-start, row, nowrap, 10px, 0);
            
            .iIcon {
              color: #2980b9;
              font-size: 18px;
            }
            
            .text {
              display: block;
              font-size: 16px;
              font-weight: 500;
              color: #797979;

              .cat {
                color: var(--color-text-base);
                font-weight: 600;
              }
            }
          }
        }

        .tags {
          margin-top: 20px;
          @include flex(flex, flex-start, flex-start, row, wrap, 10px, 10px);
    
          .tag {
            min-height: 20px;
            font-size: 14px;
            font-weight: 500;
            user-select: none;
            cursor: pointer;
            color: white;
            padding: 5px 7px;
            border-radius: 10px;
            background: linear-gradient(#4589d7, #496f9b);
            transition: transform 200ms ease;
    
            &:hover {
              transform: translateY(-3px);
            }
          }
        }
      }
    }
  }
}