@import "./reset";
@import "./imports";

.PageContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--page-bg);
  
  @include flex($direction: column);
}

.MainContainer {
  flex-grow: 1;
  min-height: 100vh;
  @include flex(flex, center, center, column, nowrap);
}

body {
  font-family: "Inter", sans-serif;

  &.ov-hidden {
    overflow: hidden;
  }
}

.ThemeSwitcher {
  color: var(--color-text-base);
  cursor: pointer;

  .modeIcon {
    font-size: 25px;
  }
}