@import "./reset";
@import "./imports";

.PageContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #FFFFFF;
  
  @include flex($direction: column);
}

.MainContainer {
  flex-grow: 1;
  min-height: 100vh;
}